// Widescreens
@include mediaXl {
  .container {
    max-width: 1170px;
    width: 100%;
  }
}

// Desktop & Laptops
@include mediaLg {
  .main-nav ul li.submenu:last-child > ul {
    right: 0;
    margin-right: 5px !important;
  }
  .main-nav ul li:hover ul {
    display: block !important;
  }
}

// Tablets & Small Laptop
@include mediaMd {
  // Main Nav Styles
  .menu_bar {
    display: flex !important;
    margin-left: auto;

    .bt-menu {
      display: block;
      padding: 20px 0;
      color: $dark-blue;
      overflow: hidden;
      font-size: 18px;

      span {
        float: right;
      }
    }
  }

  header nav.main-nav {
    padding: 0 15px;
    position: fixed;
    overflow: hidden;

    ul {
      top: 113px;
      width: 100%;
      height: 100%;
      left: 0;
      background: #fff;
      overflow: hidden;
      display: none;

      &.open-menu {
        display: block;
      }
    }
    ul li {
      display: block;
      width: 100%;
      border-bottom: 1px solid $light-grey;

      a {
        display: block;
      }

      .sub-children {
        width: 100%;
        position: relative;
        box-shadow: none;
        border-bottom: none;
        top: 0;

        li {
          border-bottom: none;
        }
      }

      .caret {
        float: right;
      }

      &:hover .sub-children {
        display: none;
      }

      &.sub-active {
        border-bottom: 1px solid $main-layout-color;
      }
    }
  }
  .main-nav ul li .sub-children a {
    margin-left: 1.5em;
    padding: 10px;
  }
  .main-nav ul li .caret {
    display: block !important;
  }

  // Jumbotron
  .jumbo--content {
    padding: 0 !important;
    h1 {
      font-size: 2.8em !important;
    }
    p {
      font-size: 1.5em !important;
    }
  }
}

// Smartphones
@include mediaSm {
  .container {
    width: 100%;
  }

  .dropdown-menu {
    width: 150% !important;
  }
  #user-signin {
    display: none;
  }
  .util-nav-content {
    i.fa-user-friends,
    i.fa-user-circle,
    ul.util-nav-list > .dropdown > a > span.flag-icon {
      display: none;
    }
  }

  .util-nav .container .util-nav-content {
    justify-content: center !important;
  }

  .util-nav .container .util-nav-content .util-nav-list li a {
    padding: 10px 14px;
  }

  .util-nav .container .util-nav-content .util-nav-list {
    justify-content: flex-end;
    width: 100%;
  }

  .main-nav {
    padding: 0 15px;

    ul li .caret {
      display: block !important;
    }
  }
}
