// Widescreens
@include mediaXl {
  .container {
    width: 1170px !important;
  }
}

// Desktop & Laptops
@include mediaLg {
  .container {
    width: 970px !important;
  }
  .util-nav .container .util-nav-content .util-nav-list {
    margin: 0 15px;
  }
}

// Tablets & Small Laptop
@include mediaMd {
  .container {
    width: 750px;
  }

  // Main Nav Styles
  .menu_bar {
    display: block !important;
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;

    .bt-menu {
      display: block;
      padding: 20px;
      color: $dark-blue;
      overflow: hidden;
      font-size: 18px;

      span {
        float: right;
      }
    }
  }

  header nav.main-nav {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    margin: 0;
    overflow: scroll;

    ul li {
      display: block;
      width: 100%;
      border-bottom: 1px solid $light-grey;

      a {
        display: block;
      }

      .sub-children {
        width: 100%;
        position: relative;
      }

      .caret {
        float: right;
      }

      &:hover .sub-children {
        display: none;
      }
    }
  }
}

.main-nav ul li .sub-children a {
  margin-left: 20px;
}

// Smartphones
@include mediaSm {
  .container {
    width: 100%;
  }
  #user-signin {
    display: none;
  }
  .util-nav-content {
    i.fa-user-friends,
    i.fa-user-circle,
    ul.util-nav-list > .dropdown > a > span.flag-icon {
      display: none;
    }
  }

  .util-nav .container .util-nav-content {
    justify-content: center !important;
  }

  .util-nav .container .util-nav-content .util-nav-list li a {
    padding: 10px 14px;
  }

  .util-nav .container .util-nav-content .util-nav-list {
    justify-content: flex-end;
    width: 90%;
  }
}
