@import "config";
@import "mobile";
@import "overlaysearch";

body {
  background-color: $body-color;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: $dark-grey;
}

/* Utility Nav Styles */
.util-nav {
  background-color: $main-layout-color;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;

  .container {
    margin-left: auto;
    margin-right: auto;

    .util-nav-content {
      display: flex;
      justify-content: flex-end;

      .util-nav-list {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        li {
          display: inline-block;
        }

        li a {
          color: #fff;
          padding: 10px 10px;
          display: inherit;

          i {
            padding: 0 4px;
          }
        }

        .dropdown .dropdown-menu li {
          display: none;
        }

        .dropdown:hover .dropdown-menu li {
          display: block;
        }
      }
    }
  }
}

/* Utility Nav Dropdown */
.dropdown {
  position: relative;
  .dropdown-menu {
    position: absolute;
    background-color: $main-layout-color;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 2px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    margin-top: -4px;
    z-index: 999;

    li a {
      &:hover {
        background-color: #0033a0;
        border-radius: 2px;
      }
    }
  }
}

/* Flag styles*/

a.flag-position {
  display: flex !important;
  flex-flow: row nowrap;
  align-items: center;
}

.flag-icon {
  background: url(../images/flags-sprite.png);
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: cover;
  margin-right: 8px;
}

.usa-flag {
  background-position-y: -96px;
}
.sin-flag {
  background-position-y: -24px;
}
.aus-flag {
  background-position-y: -48px;
}
.uk-flag {
  background-position-y: -72px;
}
.frc-flag {
  background-position-y: -120px;
}
.ger-flag {
  background-position-y: -144px;
}
.ita-flag {
  background-position-y: -168px;
}
.jap-flag {
  background-position-y: -192px;
}
.kor-flag {
  background-position-y: -216px;
}

/* Main Nav Styles */
.menu_bar {
  display: none;
}
.main-nav {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.3);
  z-index: 900;
  width: 100%;
  margin: 0 auto;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    li {
      display: inline-block;
      position: relative;

      a {
        display: block;
        font-size: 0.875em;
        font-weight: 400;
        color: $dark-grey;
        padding: 20px;
        transition: color 0.3s ease-in;

        &:hover {
          color: $main-layout-color;
        }

        &.active {
          color: $main-layout-color;
        }
      }

      .caret {
        position: relative;
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }
}

.main-nav ul li:hover .sub-children {
  display: block;
}

.main-nav ul li .sub-children {
  display: none;
  background: #fff;
  position: absolute;
  width: 150%;
  z-index: 1000;

  li {
    display: block;
    &:hover {
      background: $off-white;
    }

    a {
      display: block;
    }
  }
}
