@import "config";
@import "overlaysearch";
@import "solutions";
@import "contactform";

body {
  background-color: $body-color;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: $dark-grey;
}

/* Main Container Class */
.container {
  display: flex;
  flex-flow: row wrap;
  max-width: 1170px;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0 15px !important;
}

/* Utility Nav Styles */
.util-nav {
  background-color: $main-layout-color;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;

  .container {
    .util-nav-content {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      width: 100%;

      .util-nav-list {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        li {
          display: inline-block;
        }

        li a {
          color: #fff;
          padding: 10px 10px;
          display: inherit;

          i {
            padding: 0 4px;
          }
        }

        .dropdown .dropdown-menu li {
          display: none;
        }

        .dropdown:hover .dropdown-menu li {
          display: block;
        }
      }
    }
  }
}

/* Utility Nav Dropdown */
.dropdown {
  position: relative;
  .dropdown-menu {
    position: absolute;
    background-color: $main-layout-color;
    width: 120%;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 2px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    margin-top: -4px;
    z-index: 999;

    li a {
      &:hover {
        background-color: #0033a0;
        border-radius: 2px;
      }
    }
  }
}

/* Flag styles*/

a.flag-position {
  display: flex !important;
  flex-flow: row nowrap;
  align-items: center;
}

.flag-icon {
  background: url(../images/flags-sprite.png);
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: cover;
  margin-right: 8px;
}

.usa-flag {
  background-position-y: -96px;
}
.sin-flag {
  background-position-y: -24px;
}
.aus-flag {
  background-position-y: -48px;
}
.uk-flag {
  background-position-y: -72px;
}
.frc-flag {
  background-position-y: -120px;
}
.ger-flag {
  background-position-y: -144px;
}
.ita-flag {
  background-position-y: -168px;
}
.jap-flag {
  background-position-y: -192px;
}
.kor-flag {
  background-position-y: -216px;
}

/* Main Nav Styles */
.fixed-nav nav.main-nav {
  position: fixed;
  top: 0;
}
.kpi-logo a img {
  width: 222px;
  vertical-align: middle;
}
.menu_bar {
  display: none;
}
.main-nav {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.3);
  z-index: 900;
  width: 100%;
  margin: 0 auto;

  ul {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    margin-left: auto;

    li {
      display: flex;
      position: relative;

      a {
        display: block;
        font-size: 0.875em;
        font-weight: 400;
        color: $dark-grey;
        padding: 20px 20px 10px 10px;
        transition: color 0.3s ease-in;
        align-self: flex-end;

        &:hover {
          color: $main-layout-color;
        }

        &.active {
          color: $main-layout-color;
        }
      }

      .caret {
        position: relative;
        margin-left: 10px;
        margin-right: 0;
        display: none;
      }
    }
  }
}

.main-nav ul li:hover ul {
  display: block;
}

.main-nav ul li ul {
  display: none;
  background: #fff;
  position: absolute;
  width: 170%;
  z-index: 1000;
  border-radius: 2px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid $main-layout-color;
  top: 100%;

  li {
    display: block;
    &:hover {
      background: $off-white;
    }

    a {
      display: block;
      padding: 10px;
    }
  }
}

.submenu::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 0 !important;
  background: $main-layout-color;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.submenu:hover {
  &::after {
    width: 100% !important;
  }
}

/* Hero Styles */
.hero {
  width: 100%;
  height: 564px;
  display: block;
  position: relative;
  z-index: -1;
  padding: 1.5em;
  background: url(../images/home-video-web.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($dark-blue, 0.5);
    margin: 0 auto;
    top: 0;
    left: 0;
  }

  .jumbo--content {
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    padding: 0 5em;

    h1 {
      font-size: 3.5em;
      color: $light-orange;
    }

    p {
      font-size: 1.8em;
      font-weight: 300;
      color: #fff;
      margin: 0.5em 0;
    }
  }
}

.select {
  position: relative;
  z-index: 1;
  background-color: #fff;
  width: 70%;
  padding: 1.5em;
  box-shadow: 0 10px 40px rgba($color: #000000, $alpha: 0.3);
  border-radius: 3px;
  margin: -35px auto;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  p {
    font-weight: normal;
    order: 1;
    width: 100%;
  }

  select {
    width: 35%;
    height: 4em;
    margin: 20px 0 10px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    padding: 5px 5px 5px 15px;
    border-width: 0;
    border-bottom: 2px solid $main-layout-color;
    font-size: 0.9em;
    color: #888;
    -ms-word-break: normal;
    word-break: normal;

    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1.7em + 2px),
      calc(100% - 15px) calc(1.7em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 0 1.5em;
    background-repeat: no-repeat;
    background-color: $off-white;
  }

  select.industry {
    order: 2;
  }
  select.role {
    order: 4;
  }

  span {
    order: 3;
    align-self: center;
  }

  form {
    order: 5;
    width: 100%;

    input.search__widget {
      width: 84%;
      margin-top: 10px;
      font-size: 1.5em;
      color: $dark-grey;
      border-width: 0;
      border-bottom: 1px solid $main-layout-color;
      -webkit-appearance: textfield;
    }
  }
}

/* Three cards */
.cards {
  margin: 6.5em 0;
}

.card__wrappers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .card--item {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: auto;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($color: $dark-blue, $alpha: 0.5);
      z-index: 0;
    }

    .card-heading {
      height: 300px;
      padding: 0.5em;
      position: relative;
      h2 {
        color: #fff;
        font-size: 1.6em;
        font-weight: normal;
        margin-top: 2em;
      }
    }

    &.item-01 {
      background: url(../images/image-01.png);
      background-position: -10px -10px;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }
    &.item-02 {
      background: url(../images/image-02.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
    }
    &.item-03 {
      background: url(../images/image-03.jpg);
      background-position: 0 180%;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }

    .card__caption {
      background: #fff;
      position: relative;
      padding: 0.5em;
      flex: 1;
      display: flex;
      flex-direction: column;

      p {
        flex: 1 0 auto;
      }

      a {
        padding: 1.5em 0;
        color: $dark-grey;
        transition: color 0.2s ease-in;

        &:hover {
          color: $main-layout-color;
        }

        i.decor {
          border: 1px solid $dark-grey;
          padding: 5px;
          width: 28px;
          text-align: center;
          border-radius: 50%;
          margin-right: 15px;
        }
      }
    }
  }
}

// Blogs & News
.blog-news {
  background: #fff;

  .blog-news-message {
    text-align: center;
    padding: 3em;

    h2 {
      color: $secondary-blue;
      font-weight: 300;
      margin-bottom: 1em;
    }
  }

  .blog-news-blocks {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
    height: 537px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      margin: 0 auto;
      top: 0;
      left: 0;
    }

    .blog-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 1.5em;
      padding-bottom: 6em;
      background-image: url(../images/blog.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .news-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 1.5em;
      padding-bottom: 6em;
      background-image: url(../images/news.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    h2 {
      font-size: 2em;
      font-weight: 300;
      color: $light-orange;
      position: relative;

      &::before {
        content: "";
        width: 4em;
        padding: 1px;
        display: block;
        position: relative;
        top: 1.8em;
        margin: 0 auto;
        background-color: $light-orange;
      }
    }

    p {
      font-size: 1.3em;
      font-weight: 300;
      position: relative;
    }

    a {
      font-size: 1em;
      font-weight: 300;
      color: #ffb547;
      padding: 1em;
      position: relative;
      display: block;
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      border: 3px solid #ffb547;
      border-radius: 3px;
      text-align: left;
      transition: all 0.2s ease-in;

      &:hover {
        background: rgba($color: $light-orange, $alpha: 0.2);
      }
    }

    span.btn-long-arrow {
      margin-left: 10px;
      img {
        width: 40%;
      }
    }
  }
}

/* Standalone search */
.single-search {
  text-align: center;
  padding: 2.5em;
  background-image: url(../images/triangle-pattern.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    font-size: 2em;
    font-weight: 300;
    margin: 1em 0;
    color: #fff;
  }

  form.search-body {
    max-width: 700px;
    position: relative;
    margin: 0 auto;
    background: #fff;
    padding: 0.5em;
    border-radius: 3px;
    box-shadow: 0 10px 40px rgba($color: #000000, $alpha: 0.3);

    input.search__widget {
      width: 90%;
      margin-bottom: 0;
      margin: 10px;
      font-size: 1.5em;
      color: $dark-grey;
      border-width: 0;
      border-bottom: 1px solid $dark-grey;
      -webkit-appearance: textfield;

      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #bdbdbd;
        font-weight: 300;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: #bdbdbd;
        font-weight: 300;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: #bdbdbd;
        font-weight: 300;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: #bdbdbd;
        font-weight: 300;
      }
    }

    i {
      font-size: 1.5em;
    }
  }
}

// Footer
.footer-container {
  // padding: 1.5em;
  background: url(../images/map-image.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 80%;
  background-attachment: fixed;

  .main-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .links-section {
      color: $dark-blue;
      text-transform: uppercase;
      width: 25%;
      margin-top: 2em;
      padding: 0 15px;
      h3 {
        font-size: 0.9em;
      }

      p {
        font-size: 14px;
      }

      a {
        color: $dark-blue;
        font-size: 14px;
        &:hover {
          color: $main-layout-color;
        }
      }

      button.modal-form {
        border: 1px solid $main-layout-color;
        padding: 1em;
        max-width: 300px;
        width: 100%;
        border-radius: 3px;
        margin-top: 1em;
        transition: all 0.3s ease-in;

        &:hover {
          background: $main-layout-color;

          a {
            color: #fff;
          }
        }

        a {
          text-transform: uppercase;
          color: $main-layout-color;
          font-size: 1em;
        }
      }
    }

    ul.apps-section {
      ul.app-links {
        display: flex;
        flex-flow: row wrap;

        li {
          margin-right: 10px;

          img {
            width: 115px;
          }
        }
      }
    }
  }
}

// Small footer
.small-footer {
  background: $dark-blue;
}
.small-items {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;

  .small-col {
    color: #fff;
    font-weight: 300;
    flex: 1;
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: middle;
    position: relative;
    margin: auto;

    a {
      color: #fff;
      font-size: 2em;
      padding-right: 10px;
    }

    .small--social {
      display: flex;
    }
  }
}

// Media Queries
@import "mobile";
