@import "config";
@import "mobile";
@import "overlaysearch";

body {
  background-color: $body-color;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: $dark-grey;
}

/* Nav styles */
.util-nav {
  background-color: $main-layout-color;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;

  .container {
    margin-left: auto;
    margin-right: auto;

    .util-nav-content {
      display: flex;
      justify-content: flex-end;

      .util-nav-list {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        li {
          display: inline-block;
        }

        li a {
          color: #fff;
          padding: 10px 10px;
          display: inherit;

          i {
            padding: 0 4px;
          }
        }

        .dropdown .dropdown-menu li {
          display: none;
        }

        .dropdown:hover .dropdown-menu li {
          display: block;
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  .dropdown-menu {
    position: absolute;
    background-color: $main-layout-color;
    width: 210px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 2px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    margin-top: -4px;

    li a {
      &:hover {
        background-color: #0033a0;
        border-radius: 2px;
      }
    }
  }
}

/* Flag styles*/

a.flag-position {
  display: flex !important;
  flex-flow: row nowrap;
  align-items: center;
}

.flag-icon {
  background: url(../images/flags-sprite.png);
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: cover;
  margin-right: 8px;
}

.usa-flag {
  background-position-y: -96px;
}
.sin-flag {
  background-position-y: -24px;
}
.aus-flag {
  background-position-y: -48px;
}
.uk-flag {
  background-position-y: -72px;
}
.frc-flag {
  background-position-y: -120px;
}
.ger-flag {
  background-position-y: -144px;
}
.ita-flag {
  background-position-y: -168px;
}
.jap-flag {
  background-position-y: -192px;
}
.kor-flag {
  background-position-y: -216px;
}
